{% extends 'base.html' %} 

{% block title %}About Us{% endblock title %} 

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/aboutus.css' %}">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

{% endblock head %}
{% block body %}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/aboutus.css' %}">
<div class="about-section paddingTB60 gray-bg">
                <div class="container">
                    <div class="row">
						<div class="col-md-7 col-sm-6">
							<div class="about-title clearfix">
								<h1>About <span>Us</span></h1>
								<h3>Attirent - as a dress rental site</h3>
								<p class="about-paddingB">Attirent aspires to be one of the leading website for dress rents. Here at Attirent, we value costumer and their satisfaction. Thus, your privacy and security is our utmost priority</p>
								<p>Find attires for any occasion at our highly customized website. Wear your attire for the occasion and send it back to where it came from.</p>
								<p>LIKE IT? -> RENT -> WEAR -> RETURN</p>
								<p>It's that easy</p>
						<div class="about-icons"> 
                            <ul >
                                <li><a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a> </li>
                                <li><a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a> </li>
                                <li> <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a> </li>
                                <li> <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a> </li>
                            </ul>       
               
               
	           
	           
	        
	        </div>
							</div>
						</div>
						<div class="col-md-5 col-sm-6">
							<div class="about-img">
								<img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
							</div>
						</div>	
                    </div>
                </div>
            </div>
{% endblock body%}


