{% extends 'base.html'%} 

{% block title %}Contact us{% endblock title %}

{% block body %}

<body>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/img/piccont.jpg" class="d-block w-75 mx-auto" height="550" >
      <h3 style= "position: relative; top: 10px;" class="text-center">Contact Us</h3>

      <div  class="boo" style= "position: relative; margin-left: 198px; margin-right: 198px" > 
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text"><p>We'll never share your email with anyone else.</p></div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Your Query/Feedback</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    
</div>

</body>

{% endblock body%}
