{% extends 'index.html'%} 

{% block title %}Details{% endblock title %}

{% block body %}
<p>gftuyijnbvcgfdrtyu</p>
{% for clot in cloth %}
    <div class="row">
        <div class="col s12 m8">
            <h3>clot.title</h3>
            <div class="card story">
                <div class="card-content">
                    clot.description
                </div>
            </div>
        </div>
        {% if clot.picture %}
        <div class="col s12 m4">
            <div class="card center-align">
                <div class="card-content">
                    {% comment %} <span class="card-title">{{story.user.displayName}}</span> {% endcomment %}
                    {% comment %} <img src="{{clot.picture}}" class="circle responsive-img img-small"> {% endcomment %}
                    <p> clot.picture</p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endfor %}
{% comment %} {% for clot in cloth %}
    {% if clot.picture %}
         <img src="{{ clot.picture.url }}"></img>
    {% endif %}
    <h2>{{ clot.title }}</h2>
    <p>{{ clot.description }}</p> 
{% endfor %} {% endcomment %}
{% endblock body %}

 {% comment %} style="text-align:center" {% endcomment %}