{% extends 'base.html'%} 

{% block title %}Upload{% endblock title %}

{% block head %}
{% load static %}
{% load crispy_forms_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
{% endblock head %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
<div class="signup-form">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type='file' name="document">
        {{ form|crispy }}
        <button type="submit">Upload</button>
    </form>
</div>
  
{% endblock body %}
